%h2.title-divider
	%span
		Notes
	%small List of your daily entries

- unless @notes.empty?
	- @notes.each do |note|
		%h5
			%a{href: "mailto:#{note.user.email}"}
				=image_tag note.user.gravatar_url, :class => 'img-circle'
				=note.user.calling_name.nil? ? note.user.email : note.user.calling_name
			wrote at
			=note.created_at

		%blockquote
			%pre=note.note
- else
	%p
		You don't have any notes yet. Please
		=link_to 'set up', :controller => 'settings', :action => 'show'
		your account and check your mailbox.
