%h2.title-divider
	%span
		Notes
	%small List of your daily entries

.btn-group
	%a.btn.btn-primary{href: 'mailto:' + @discussion.inbox_address} Add note

- unless @notes.empty?
	- @notes.each do |note|
		.note
			%h5
				%a{href: "mailto:#{note.user.email}"}
					=image_tag note.user.gravatar_url, :class => 'img-circle'
					=note.user.calling_name.nil? or note.user.calling_name.empty? ? note.user.email : note.user.calling_name
				wrote at
				%a{:href => public_note_url(note)}
					=note.created_at

			%div.content
				=simple_format note.note
- else
	%p
		You don't have any notes yet. Please
		=link_to 'set up', :controller => 'settings', :action => 'show'
		your account and check your mailbox.
	%p
		You can also add notes any time you want by sending them to
		= succeed '.' do
			%a{href: "mailto:#{current_user.reminder_inbox_email}"} your inbox
