%h2.title-divider
	%span
		Updates
	%small List of your all updates

.btn-group
	%a.btn.btn-primary{href: 'mailto:' + @current_user.team.team_inbox} Add update

%p

- unless @discussions.empty?
	- @discussions.each do |discussion|
		.panel.panel-default.discussion
			.panel-body
				%h5
					%a{href: discussion_notes_url(discussion)}
						=discussion.title
					created
					%time{'datetime' => discussion.created_at}
						=discussion.created_at
			.participants
				- discussion.notes.map { |note| note.user }.uniq.each do |user|
					%a{href: "mailto:#{user.email}", title: user.calling_name.presence ? user.calling_name : user.email }
						=image_tag user.gravatar_url(:size => 30), :class => 'img-circle'
- else
	%p
		You don't have any discussions yet. Please
		=link_to 'set up', :controller => 'settings', :action => 'show'
		your account and check your mailbox.
	%p
		You can also add discussions any time you want by sending them to
		= succeed '.' do
			%a{href: "mailto:#{current_user.reminder_inbox_email}"} your inbox
