%h2.title-divider
	%span
		Discussions
	%small List of your all discussions

- unless @discussions.empty?
	- @discussions.each do |discussion|
		.note
			%h5
				%a{href: discussion_notes_url(discussion)}
					=discussion.title
				created
				%time{'datetime' => discussion.created_at}
					=discussion.created_at
- else
	%p
		You don't have any discussions yet. Please
		=link_to 'set up', :controller => 'settings', :action => 'show'
		your account and check your mailbox.
	%p
		You can also add discussions any time you want by sending them to
		= succeed '.' do
			%a{href: "mailto:#{current_user.reminder_inbox_email}"} your inbox
