#highlighted
  .inner
    / Static Banner
    %section.static-banner.container
      .slide
        .col-md-7
          %img.img-responsive{alt: "Slide 1", src: image_path('slide-1.png')}/
        .col-md-5.caption
          %h2 Track your progress!
          %p Respond to a daily reminder with what you did that day.
          %p Next day get an update from your team.
          %p Cannot be simpler.
          %a.btn.btn-lg.btn-primary{href: new_user_registration_path} Try now for free
#content
  .container
    .block
      %h2.title-divider
        %span
          Foster
          %span.de-em the communication

      %p Either when you work remotely or in one place you often find it hard to track the things you do daily to move forward.

      %p

    .block
      %h2.title-divider
        %span
          Build
          %span.de-em your history

      %p Make performance reviews a story of the past. By tracking your accomplishements and problems daily you can easily discover areas for improvement.

      %p Help yourself understand how much of a progress you did. See a bigger picture from a time perspective and be proud of what you accomplished.

    / Services
    / .block.features
    /   %h2.title-divider
    /     %span
    /       Core
    /       %span.de-em Features
    /     / %small Core features included in all plans.
    /   .row
    /     =render :partial => 'main_features'

    / =render :partial => 'testimonials'
