.block
  / Default Pricing Table
  %h2.title-divider
    %span
      Our
      %span.de-em pricing
    %small Sign up in 20 seconds!
  / Stack 1
  .row.pricing-stack
    .col-md-6.col-md-offset-3
      .well.active
        %h3.title
          %span.em Plain and simple pricing
        %p.price
          %span.currency $
          %span.digits
            3
          %span.term PER USER MONTHLY
        %ul.unstyled.points
          %li SSL encrypted connections
          %li Unlimited number of updates
          %li Cancel any time
          %li Free for single user
  .row
    / Plan features
    .well.well-mini.pull-center
      %h4.inline-el.pad-right
        %span
          Try it for FREE
          = succeed ":" do
            %span.de-em for 30 days
      %p.inline-el.pad-left.muted
        %a.btn.btn-primary{href: new_user_registration_path} Try it now!
        %p Additionally VAT will be added if applies
