%script{id: "template/timepicker/timepicker.html", type: "text/ng-template"}
	%table
		%tbody
			%tr.text-center
				%td
					%a.btn.btn-link{"ng-click" => "incrementHours()"}
						%span.glyphicon.glyphicon-chevron-up
				%td &#160;
				%td
					%a.btn.btn-link{"ng-click" => "incrementMinutes()"}
						%span.glyphicon.glyphicon-chevron-up
				%td{"ng-show" => "showMeridian"}
			%tr
				%td.form-group{"ng-class" => "{'has-error': invalidHours}", style: "width:50px;"}
					%input.form-control.text-center{maxlength: "2", "ng-change" => "updateHours()", "ng-model" => "hours", "ng-mousewheel" => "incrementHours()", "ng-readonly" => "readonlyInput", type: "text"}/
				%td :
				%td.form-group{"ng-class" => "{'has-error': invalidMinutes}", style: "width:50px;"}
					%input.form-control.text-center{maxlength: "2", "ng-change" => "updateMinutes()", "ng-model" => "minutes", "ng-readonly" => "readonlyInput", type: "text"}/
				%td{"ng-show" => "showMeridian"}
					%button.btn.btn-default.text-center{"ng-click" => "toggleMeridian()"} {{meridian}}
			%tr.text-center
				%td
					%a.btn.btn-link{"ng-click" => "decrementHours()"}
						%span.glyphicon.glyphicon-chevron-down
				%td &#160;
				%td
					%a.btn.btn-link{"ng-click" => "decrementMinutes()"}
						%span.glyphicon.glyphicon-chevron-down
				%td{"ng-show" => "showMeridian"}

#content
	.container
		%h2.title-divider
			%span
				Settings
			%small Couple of things to make it work!

		%p You need to provide us a couple of details.

		%p Click Submit to save them and send a first reminder (just to try it out).

		%p Your response will be automatically forwarded to your peers (if you configure any) or saved on our servers so you can easily go back to it.

		%form{role: "form", :id => 'settings', 'ng-app' => 'remotestandup.settings', 'ng-controller' => 'SettingsCtrl'}
			.form-group
				%label{for: "timezone"} What's your timezone?
				%input#timezone.form-control{placeholder: "Enter your timezone", type: "email", 'ng-value' => 'timezone'}/
			.form-group
				%label{for: "time"} When to send you a reminder?
				%div{"ng-model" => "reminder_at"}
					%timepicker#time{"hour-step" => "1", "minute-step" => "1", "show-meridian" => "false", style: "inline-block"}
			.form-group
				%label{for: "days1"} What days do you work on?
				.radio
					%label
						%input#days1{type: "radio", value: "1-5"}/
						From Monday to Friday
				.radio
					%label
						%input#days2{type: "radio", value: "7"}/
						Every day
			.form-group
				%label{for: "member"} Who to send this to?
				%input#member.form-control{placeholder: "Enter email", type: "email", 'ng-value' => 'email'}/
			%button.btn.btn-primary{type: "submit"} Submit
