%script{id: "template/timepicker/timepicker.html", type: "text/ng-template"}
	%table
		%tbody
			%tr.text-center
				%td
					%a.btn.btn-link{"ng-click" => "incrementHours()"}
						%span.glyphicon.glyphicon-chevron-up
				%td &#160;
				%td
					%a.btn.btn-link{"ng-click" => "incrementMinutes()"}
						%span.glyphicon.glyphicon-chevron-up
				%td{"ng-show" => "showMeridian"}
			%tr
				%td.form-group{"ng-class" => "{'has-error': invalidHours}", style: "width:50px;"}
					%input.form-control.text-center{maxlength: "2", "ng-change" => "updateHours()", "ng-model" => "hours", "ng-mousewheel" => "incrementHours()", "ng-readonly" => "readonlyInput", type: "text"}/
				%td :
				%td.form-group{"ng-class" => "{'has-error': invalidMinutes}", style: "width:50px;"}
					%input.form-control.text-center{maxlength: "2", "ng-change" => "updateMinutes()", "ng-model" => "minutes", "ng-readonly" => "readonlyInput", type: "text"}/
				%td{"ng-show" => "showMeridian"}
					%button.btn.btn-default.text-center{"ng-click" => "toggleMeridian()"} {{meridian}}
			%tr.text-center
				%td
					%a.btn.btn-link{"ng-click" => "decrementHours()"}
						%span.glyphicon.glyphicon-chevron-down
				%td &#160;
				%td
					%a.btn.btn-link{"ng-click" => "decrementMinutes()"}
						%span.glyphicon.glyphicon-chevron-down
				%td{"ng-show" => "showMeridian"}

#content
	.container
		%h2.title-divider
			%span
				Settings
			%small Couple of things to make it work!

		%p When you're done click Submit to save them and send a first reminder to yourself (just to try it out).

		%p Your response will be automatically forwarded to your peers (if you configure any) or saved on our servers so you can easily go back to it.

		%form{role: "form", :name => 'settings', 'ng-app' => 'remotestandup.settings', 'ng-controller' => 'SettingsCtrl', 'ng-cloak' => ''}
			.form-group
				%label{for: "timezone"} What's your timezone?
				%select#timezone.form-control{"ng-model" => "timezone", "ng-options" => "z for z in timezones", required: ""}

			.form-group
				%label{for: "time"} When to send you a reminder?
				%div{"ng-model" => "reminder_at"}
					%timepicker#time{"hour-step" => "1", "minute-step" => "1", "show-meridian" => "false", style: "inline-block"}

			.form-group
				%label{for: "days1"} What days do you work on?
				.radio
					%label
						%input#days1{type: "radio", 'ng-model' => 'remind_on', value: "1-5"}/
						From Monday to Friday
				.radio
					%label
						%input#days2{type: "radio", 'ng-model' => 'remind_on', value: "7"}/
						Every day

			.form-group
				%label{for: "member"} Who to send this to?
				%input#member.form-control{placeholder: "Fill in and press Enter to add a recipient", type: "email", :name => 'member','ng-model' => 'member', 'ng-keyup' => 'memberKeyUp($event)'}/
				%small.error{"ng-show" => "settings.member.$error.email"} That is not a valid email address

			.form-group
				%label{for: "members"} Recipients
				#members
					%p.form-control-static{'ng-repeat' => 'member in members', 'ng-show' => 'members.length > 0'}
						{{member}}
						%a{'ng-click' => 'removeMember(member)', :title => 'Remove'}
							%span.glyphicon.glyphicon-remove-circle
					%p.form-control-static{'ng-show' => '!members || members.length == 0'} You didn't set any team members yet.

			%button.btn.btn-primary{type: "submit"} Submit
