%h2.title-divider
	%span
		Settings
	%small Couple of things to make it work!

%p When you're done click Submit to save them and send a first reminder to yourself (just to try it out).

%p Your response will be automatically forwarded to your peers (if you configure any) or saved on our servers so you can easily go back to it.

%form{role: "form", :name => 'settingsForm', 'ng-app' => 'remotestandup.settings', 'ng-controller' => 'SettingsCtrl', 'ng-cloak' => '', 'ng-submit' => 'saveSettings()', 'data-settings' => render(template: 'settings/show', formats: :json)}
	.form-group
		%label{for: "timezone"} What's your timezone?
		%select#timezone.form-control{'ng-model' => 'settings.timezone', "ng-options" => "z for z in timezones", required: ""}

	.form-group
		%label.control-label{for: "time"} When to send you a reminder?
		%input.form-control#time{name: 'time', type: 'time', 'ng-model' => 'settings.reminder_at', 'required' => '', 'validate-time' => '', placeholder: 'Enter time in 24 hours format like 17:00	'}
		%small.error{"ng-show" => "settingsForm.time.$error.validateTime"} Please tell us the right time to contact you
		%small.error{"ng-show" => "settingsForm.time.$error.time"} Please tell us the right time to contact you
		%p.help-block You will get your team's summary 8 hours before.

	.form-group
		%label{for: "days1"} What days do you work on?
		%div
			%label.checkbox-inline{'ng-repeat' => 'day in weekdays'}
				%input{type: "checkbox", 'ng-value' => "$index", 'ng-checked' => 'settings.remind_on.indexOf($index) > -1', 'ng-click' => 'toggleDay($index)'}/
				{{day}}

	%button.btn.btn-primary{type: "button", 'ng-disabled' => 'loading || settingsForm.$invalid', 'ng-click' => 'saveSettings()'}
		Submit
		%i.fa.fa-spinner.fa-spin{:'ng-show' => 'loading'}
	%small{'ng-show' => 'settingsForm.$invalid'} There are errors in the form
	%small.alert.alert-success.save-results{'ng-show' => 'saved'}
		Settings were saved!
