// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notes-index.page, .public-show.page {
	.note {
		.content {
			border: solid transparent;
			border-color: #e6e6e6;
  		border-width: 2px;
  		border-radius: 10px;
  		padding: 10px;
		}
	}
}

/* Customize container */
@media (min-width: 768px) {
	.public-show.page {
		.container {
	    max-width: 730px;
	  }
	}
}