/ Le fav and touch icons - @todo: fill with your icons or remove
%link{href: image_path("icons/favicon.png"), rel: "shortcut icon"}/
%link{href: image_path("icons/114x114.png"), rel: "apple-touch-icon-precomposed", sizes: "114x114"}/
%link{href: image_path("icons/72x72.png"), rel: "apple-touch-icon-precomposed", sizes: "72x72"}/
%link{href: image_path("icons/default.png"), rel: "apple-touch-icon-precomposed"}/