%link{href: image_path("icons/favicon.ico"), rel: "shortcut icon"}/
%link{href: image_path("icons/touch-76.png"), rel: "apple-touch-icon-precomposed", sizes: "76x76"}/
%link{href: image_path("icons/touch-76@2x.png"), rel: "apple-touch-icon-precomposed", sizes: "152x152"}/
%link{href: image_path("icons/touch.png"), rel: "apple-touch-icon-precomposed", sizes: "60x60"}/
%link{href: image_path("icons/touch@2x.png"), rel: "apple-touch-icon-precomposed", sizes: "120x120"}/